<a href="https://colab.research.google.com/github/rrk115/Ai--Amrita/blob/main/PandasT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
DatasetBaseFolder = '/content/gdrive/MyDrive/ColabNotebooks/'

**LINK CSV FILE**

In [ ]:
purchase_df = pd.read_csv(DatasetBaseFolder+"Purchases.csv", index_col="Customer")

# **PANDAS**

**TO PRINT FIRST 2 ROWS**

In [ ]:
purchase_df.head(2)

**TO PRINT LAST ROW**

In [ ]:
purchase_df.tail(1)

In [ ]:
purchase_df.shape

**TO KNOW ABOUT TABLE DETAILS**

In [ ]:
purchase_df.info()

**TO CHECK WHICH COLUMN HAS NULL VALUES**

In [ ]:
purchase_df.isnull().sum()

In [ ]:
purchase_df.columns

**RENAME COLUMS**

In [ ]:
purchase_df.rename(columns={'Oranges' : 'Banana'},inplace= True)

**TO GET COLUMS**

In [ ]:
purchase_df.columns

**TO GET CUSTOMERS PURCHESD MORE APPLES**

In [ ]:
apple = purchase_df['Apples']
apple[apple.gt(4)]

# **DATA EXPLORATION**

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)})

In [ ]:
purchase_df.plot(kind='scatter', x='Apples', y='Banana', title='PURCHASES APPLE vs PURCHASES BANANA');

In [ ]:
purchase_df['Apples'].plot(kind='hist', title='Apple Purchases');

In [ ]:
purchase_df['Banana'].plot(kind="box");